* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: sans-serif;
}

.main-div {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main-div h1 {
  text-align: center;
  padding: 1% 0;
}

.main-div h2 {
  text-align: center;
  padding: 1% 0;
}

.main-div h2 span {
  color: firebrick;
}

.inner-div {
  width: 40%;
  height: 60vh;
  margin: auto;
  margin-top: 2%;
}

.row {
  width: 100%;
  height: 33.33%;
  display: flex;
}

.col {
  width: 33.33%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  font-size: 80px;
  outline: none;
}

.btns {
  text-align: center;
  padding: 1% 0;
}

.btn {
  padding: 1% 2%;
  cursor: pointer;
}

.restart {
  border: none;
  background-color: blueviolet;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
}

.restart:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}

.game-end {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}

.game-end h1,
.game-end p {
  text-align: center;
  width: 100%;
  background-color: aquamarine;
}

.game-end p {
  padding: 1% 0;
}

/* responsive code  */

@media screen and (max-width: 480px) {
  .inner-div {
    width: 90%;
    height: 60vh;
    margin: auto;
    margin-top: 2%;
  }

  .restart {
    padding: 2% 6%;
    margin-top: 5%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .inner-div {
    width: 75%;
    height: 65vh;
    margin: auto;
    margin-top: 2%;
  }

  .restart {
    padding: 2% 6%;
    margin-top: 2%;
  }
}
